name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
          docker login --username ${{ secrets.GH_USER }} --password ${{ secrets.GH_PAT }} ghcr.io
          docker build . --tag ghcr.io/${{ secrets.GH_USER }}/audiobookconverter:latest
          docker push ghcr.io/${{ secrets.GH_USER }}/audiobookconverter:latest
